<?xml version="1.0"?>

<launch>
	<arg name="world_name" default="$(find smb_gazebo)/worlds/clearpath_playpen.world"/>
	<arg name="robot_namespace" default="/"/>
	<arg name="x" default="0.0"/>
	<arg name="y" default="0.0"/>
	<arg name="z" default="0.5"/>
	<arg name="yaw" default="0.0"/>
	<arg name="joystick" default="false"/>
	<arg name="rviz" default="true"/>

	<include file="$(find smb_gazebo)/launch/smb_empty_world.launch">
		<arg name="world_name" value="$(arg world_name)"/>
		<arg name="robot_namespace" value="$(arg robot_namespace)"/>
		<arg name="x" value="$(arg x)"/>
		<arg name="y" value="$(arg y)"/>
		<arg name="z" value="$(arg z)"/>
		<arg name="yaw" value="$(arg yaw)"/>
		<arg name="joystick" value="$(arg joystick)"/>
		<arg name="rviz" value="$(arg rviz)"/>
	</include>
</launch>